body {
    background-color: thistle;
}

/* Nav coloration */
.bg-color {
    background-color: #000;
}

.signUp {
    margin-left: 70%;
    padding-right: 25px;
}
@media screen and (max-width: 320px){
    .signUp {
        margin-left: 55%;
    }
}

a {
    color: #fff;
}

.row {
    margin-top: 12px;
}
.container-fluid {
    width: 95%;
    height: auto;
    background: whitesmoke;
    color: #000;
    padding: 5px;
    margin: auto;
}